{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "semi": true,
  "bracketSpacing": true
}
